@using OffertTemplateTool.Models;
@model UsersViewModel;
@{
    ViewData["Title"] = "MyAccount";
}
<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label><b>FullName:</b></label>
    </div>
    <div class="col-md-2">
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="col-md-2">
        <input asp-for="Insertion" class="form-control" />
    </div>
    <div class="col-md-2">
        <input asp-for="LastName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label><b>Initials:</b></label>
    </div>
    <div class="col-md-2">
        <input asp-for="Initials" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label><b>Email:</b></label>
    </div>
    <div class="col-md-2">
        <input asp-for="Email" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <lable><b>PhoneNumber:</b></lable>
    </div>
    <div class="col-md-2">
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label><b>Function:</b></label>
    </div>
    <div class="col-md-2">
        <input asp-for="Function" class="form-control" />
    </div>
</div>
