@{
    ViewData["Title"] = "Signed out";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            You have successfully signed out.
        </p>
    </div>
</div>

