@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>@ViewData["Message"]</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>


