
@{
    ViewData["Title"] = "PlaceHolders";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>all placeholders should be placed between these <> characters</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>PlaceHolder</th>
                <th>specification</th>
                <th>Other Info</th>
            </tr>
            <tr>
                <td>CustomerCompany</td>
                <td>Here come the company name</td>
                <td>This item is used twice</td>
            </tr>
            <tr>
                <td>CustomerName</td>
                <td>Name of the cutomer</td>
                <td>This item is used twice</td>
            </tr>
            <tr>
                <td>CustomerStreet</td>
                <td>Here comes the StreetName</td>
                <td>This item is used twice</td>
            </tr>
            <tr>
                <td>CustomerZipcode</td>
                <td>Customers zipcode</td>
                <td>This item is used twice</td>
            </tr>
            <tr>
                <td>Customercountry</td>
                <td>Customer Country</td>
                <td></td>
            </tr>
            <tr>
                <td>ProjectName</td>
                <td>Project name</td>
                <td>This item is used twice</td>
            </tr>
            <tr>
                <td>LastUpdated</td>
                <td>Last user who updated the offer</td>
                <td></td>
            </tr>
            <tr>
                <td>DocumentId</td>
                <td>Document Code</td>
                <td></td>
            </tr>
            <tr>
                <td>CreatedBy</td>
                <td>Who has created the file</td>
                <td></td>
            </tr>
            <tr>
                <td>EmailCustomer</td>
                <td>Email of the costumer</td>
                <td></td>
            </tr>
            <tr>
                <td>Index</td>
                <td>Here comes the index of the file</td>
                <td>Font-type Courier new</td>
            </tr>
            <tr>
                <td>Content</td>
                <td>This is for the content</td>
                <td>please set directly under index</td>
            </tr>
            <tr>
                <td>Estimate</td>
                <td>For the Costs</td>
                <td>Under 'bergroting' title</td>
            </tr>
            <tr>
                <td>TotalCosts</td>
                <td>For the totalcost and BTW</td>
                <td>Please align right</td>
            </tr>
        </table>
    </div>
</div>


