
@{
    ViewData["Title"] = "FooterTemplate";
    Layout = null;
}
<!doctype html>
<style>
    #footer {
        float: left;
        bottom: 0%;
        width: 100%;
        margin-left: 5%;
    }

        #footer tr td img {
            height: 30px;
            vertical-align: middle;
            margin-right: 5%;
        }
</style>
<table id="footer">
    <tr>
        <td><img src="C:\Users\krisb\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
        <td><img src="C:\Users\krisb\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
        <td>NL92 ABNA 0513 6989 73</td>

    </tr>
    <tr>
        <td>Blankenstein 132</td>
        <td><img src="C:\Users\krisb\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
        <td>Kvk: 65649176</td>
    </tr>
    <tr>
        <td>7943 PE  Meppel</td>
        <td><img src="C:\Users\krisb\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
        <td>BTWpx: NL8562.02.617.B01</td>
    </tr>
</table>
