<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Template</title>
      <style>
         *{
            font-family: calibri;
         }
         .pagebreak {
            page-break-after: always;
         }
         #footer{
            position: fixed;
            float: left;
            bottom: 0%;
            width: 100%;
            margin-left: 5%;
         }
         #footer tr td img{
            height: 30px;
            vertical-align:middle;
            margin-right: 5%;
         }
         #formulier tr{
            height:40px;
         }
         h2{
            color:#e84f1e;
         }
         p{
            margin: 0;
         }
    </style>
   </head>
   <body onload="window.print();">
      <div class="pagebreak">
         <p><b>< CustomerCompany></b></p>
         <p> t.a.v. de heer < CustomerName></p>
         <p>< CustomerStreet></p>
         <p>< CustomerZipcode></p>
         <p>< Customercountry></p>
         <img src="./images/NewHeap.png" alt="NewHeap" style="width:100%; margin-top:10%">
         <h1>< ProjectName></h1>
         <h2>Projectvoorstel</h2>
         <table style="width:50%">
           <tr>
             <td><b>Datum laatste wijziging:<b></td>
             <td>< LastUpdated></td>
          </tr>
          <tr>
             <td><b>Documentidentificatie:</b></td>
             <td>< DocumentCode></td>
           </tr>
           <tr>
              <td><b>Auteur:</b></td>
              <td>< CreatedBy></td>
            </tr>
        </table>
            <table id="footer">
              <tr>
                <td><img src="./images/NewHeap.png" alt="NewHeap"></td>
                <td><img src="./images/telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
                <td>NL92 ABNA 0513 6989 73<td>
             </tr>
             <tr>
                <td>Blankenstein 132</td>
                <td><img src="./images/Mail.png" alt="E-Mail"> info@newheap.com</td>
                <td>Kvk: 65649176</td>
              </tr>
              <tr>
                 <td>7943 PE  Meppel</td>
                 <td><img src="./images/Website.png" alt="Website"> www.newheap.com</td>
                 <td>btw: NL8562.02.617.B01</td>
               </tr>
           </table>
           </div>
      <div class="pagebreak">
         <h2>Vertrouwelijk</h2>
         <p>
            [2017] NewHeap B.V. : Alle rechten voorbehouden. <br/>
            Alle informatie in dit document is, en blijft, eigendom van NewHeap B.V. en, als deze er zijn, zijn leveranciers.<br/>
            Dit document is bedoeld voor Klant B.V. en dient niet zonder toestemming verspreidt te worden.
         </p>
      </div>
      <div class="pagebreak">
         <dl>
           <dt><b>Betreft:</b></dt>
               <dd>Projectvoorstel realisatie <ProjectName></dd>
               <br/>
            <dt><b>Relatie:</b></dt>
               <dd>< CustomerCompany></dd>
               <dd>< CustomerName></dd>
               <dd>< CustomerStreet></dd>
               <dd>< CustomerZipcode></dd>
               <dd>< EmailCustomer></dd>
               <br/>
            <dt><b>Uitvoering:</b></dt>
               <dd>NewHeap B.V.</dd>
               <dd>Eekwal 1</dd>
               <dd>8011 LA  ZWOLLE</dd>
               <dd>info@newheap.com</dd>
               <dd>www.newheap.com</dd>
               <dd>KVK : 65649176</dd>
               <dd>IBAN: NL92 ABNA 0513 6989 73</dd>
               <dd>Te naamstelling van: NewHeap B.V.</dd>
               <dd>BTW: NL8562.02.617.B01</dd>
               <br/>
            <dt><b>Contactpersoon:</b></dt>
               <dd>Lars van en Bosch</dd>
               <dd>E-mail: lars@newheap.com</dd>
               <dd>Tel: (0031)(0)522200022</dd>
               <br/>
            <dt><b>Voorwaarden:</b></dt>
               <dd>Algemene voorwaarden NewHeap B.V.</dd>
               <dd>Nederland ICT Voorwaarden 2014 (los meegeleverd)</dd>
               <dd>Documentversie	:	001</dd>
         </dl>
      </div>
      <div class="pagebreak">
         <h2>Inhoud</h2>
         <p><i>< Index></i></p>
         < Content   >
      </div>
      <div class="pagebreak">
         <h2>Begroting</h2>
         <p>< Estimate></p>
         <p style="text-align: right;">< TotalCosts></p>
      </div>
      <div class="pagebreak">
         <h2>Voor akkoord</h2>
         <p>
            Indien U akkoord gaat met de inhoud van dit projectvoorstel betreft de realisatie van uw project fase 1, verzoeken wij u vriendelijk dit document getekend te retourneren. De ondertekening van dit document geld als opdrachtbevestiging en geld als overeenkomst tussen opdrachtgever en opdrachtnemer.<br/><br/>

            Mocht u naar aanleiding van dit document nog vragen en/of opmerkingen hebben, dan kunt u ten alle tijden contact met ons opnemen.<br/><br/>

            Ondertekende van dit contract gaat akkoord met de aspecten die in deze offerte benoemd zijn, de Nederland ICT  Voorwaarden 2014 en de algemene voorwaarden van NewHeap B.V.<br/><br/>

            <b>Werkzaamheden buiten deze offerte worden vooraf aan u geoffreerd.<br/><br/>
            <del>40% van het totaalbedrag, op hiervoor aangegeven begroting vermeld, dient aanbetaald te worden.</del><br/><br/>
            Het <del>resterende</del> totaalbedrag, op hiervoor aangegeven begroting vermeld, dient na oplevering van de applicatie betaald te worden.<br/><br/>
            Wij hanteren een betalingstermijn van 31 dagen voor onze facturen.</b> <br/><br/><br/>
         </p>
         <table id="formulier" style="width:100%">
           <tr>
             <th>Opdrachtnemer:</th>
             <th></th>
             <th></th>
             <th>Opdrachtgever:</th>
             <th></th>
           </tr>
           <tr>
             <td></td>
             <td colspan="2"><img src="./images/Handtekening.png" alt="Handtekening" style="width:40%;"></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td>Naam:</td>
             <td>L.E. van den Bosch</td>
             <td>Naam:</td>
             <td>…………………………………………….</td>
           </tr>
           <tr>
             <td>Plaats:</td>
             <td>Meppel</td>
             <td>Plaats:</td>
             <td>…………………………………………….</td>
           </tr>
           <tr>
             <td>Functie:</td>
             <td>Directeur</td>
             <td>Functie:</td>
             <td>…………………………………………….</td>
           </tr>
           <tr>
             <td>Datum:</td>
             <td>28 november 2017</td>
             <td>Datum:</td>
             <td>…………………………………………….</td>
           </tr>
         </table>
      </div>
   </body>
</html>
