@using System.Security.Principal
<style>
    a {
        margin: 0;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <a href="../account/myaccount"><li class="navbar-text">Hello @User.Identity.Name!</li></a>
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a></li>
    </ul>
    <script>
        var id = 1;
        if (id == 0) {
            id++
            window.location.replace("../account/accessdenied");
            
        }
    </script>
}
