@using OffertTemplateTool.Models;
@model OfferViewModel;
@{
    ViewData["Title"] = "EditOfferte";
}

<h2>EditOfferte</h2>
<button class="btn btn-danger cancel-button"><a href="../">Cancel</a></button>
@using (Html.BeginForm("NewOffer", "Offer"))
{
    <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
    <label>ProjectName:</label> <br />
    <input asp-for="ProjectName" placeholder="ProjectName" style="margin-bottom: 1%;" /><br />
    <label>IndexContent:</label>
    @Html.TextAreaFor(model => model.IndexContent, new { @class = "form-control summernote", @row = 5 })
    <label>estimate:</label>
    @Html.TextAreaFor(model => model.Estimate, new { @class = "form-control summernote", @row = 7 })
    <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />


}
<script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300
        });
    });
</script>