@using OffertTemplateTool.Models;
@using OffertTemplateTool.DAL.Models;
@model OfferViewModel

@{
    
    ViewData["Title"] = "New Offerte";
    
}

<h2>NewOfferte</h2>
<button class="btn btn-danger cancel-button"><a href="../Offer">Cancel</a></button>
<!--using (Html.BeginForm("NewOffer", "Offer"))
{-->
    <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
    <label>ProjectName:</label> <br />
    <input name="projectname" class="projectname" placeholder="ProjectName" style="margin-bottom: 1%;" /><br />
    <label>IndexContent:</label>
    <textarea class="summernote"></textarea>
    <label>estimate:</label>
    <a class="new">New Line</a>
    <div class="row">
        <div class="col-md-2">
            <label>Specification:</label>
        </div>
        <div class="col-md-2">
            <label>Hours:</label>
        </div>
        <div class="col-md-2">
            <label>HoursCost:</label>
        </div>
        <div class="col-md-2">
            <label>TotalCost:</label>
        </div>
    </div>
    <div class="newline-container">
        
    </div>
    



    <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />


<!--}-->
<script type="text/javascript">
    var id = 0;

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300
        });
    });

    $(".new").click(function (e) {
        
        $(".newline-container").append(
            '<div class="row new-row"><div class="col-md-2">' +
            '<input name="EstimateLines" id="Specification' + id +'" placeholder="Specification" />' +
            '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" id="hours' + id +'" placeholder="Hours" />' +
                '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" id="hourscost' + id +'" placeholder="HoursCost" />' +
                '</div>' +
            '<div class="col-md-2">' +
            '<input name="EstimateLines" id="totalcost' + id +'" placeholder="TotalCost" />' +
                '</div> ' +
            '</div>'
        );
        id++;

        
        return;
    });

    $(".Save-offerte").click(function (e) {

        saveAll();
        return;
    });



    var saveAll = function () {

        var postBody = {
            "Id": "@Model.Id",
            "DebtorNumber": 0,
            "DocumentCode": 0,
            "ProjectName": $(".projectname").val(),
            "CreatedBy": null,
            "UpdatedBy": null,
            "CreatedAt": "@DateTime.Now",
            "LastUpdatedAt": "@DateTime.Now",
            "IndexContent": $(".summernote").val(),
            "Estimate": null,
            "EstimateLines": [
            ]
        };

        for (var i = 0; i < id; i++) {
            postBody.EstimateLines[i] = {
                "Specification": $("#Specification" + i).val(),
                "HourCost": $("#hourscost" + i).val(),
                "Hours": $("#hours" + i).val(),
                "TotalCost": $("#totalcost" + i).val()
            };
        }
        var redirect = function(){
            window.location.replace("../offer");
      
        }

        console.log(postBody);


        $.ajax({
            type: "POST",
            url: '@Url.Action("NewOffer","Offer")',
            data: postBody,
            complete: function (response, status, xhr) {
                $.notify("<span class='glyphicon glyphicon-ok'></span> <p>Your offer has succesfully saved! you will " + 
                    "automatically Redirect to the overview </p > ", {
                        type: 'success',
                        showProgressbar: true,
                });
                setInterval(redirect, 6000);
               
            },
            error: function (response, status, xhr) {

            },
        });

    }
</script>

